<%= form_with(model: event, local: true, url: event_create_or_update, id: "eventForm" ) do |form| %>
  <% if event.errors.any? %>
    <div class="error-container">
      <div id="error_explanation">
        <h3>
          <%= t('errors.template.header.other', count: event.errors.count, model: t('helpers.model.event')) %>
        </h3>
        <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="event-new-content mb-5">
    <div class="form-group">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :schedule, class: "form-label" %>
      <%= form.datetime_field :schedule, min: Time.zone.today, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_area :content, class: "form-control", rows: "4" %>
    </div>

    <div class="form-group">
      <%= form.label :thumbnail, class: "form-label" %>
      <%= form.file_field :thumbnail, class: "form-control-file" %>
    </div>

    <div class="form-group">
      <label class="form-label"><%= t('.choose_organizer') %></label><br>
      <% @organizers.each do |organizer| %>
        <div class="form-check form-check-inline ml-4">
          <%= form.radio_button :organizer_id, "#{organizer.id}", class: "form-check-input" %>
          <%= form.label :organizer_id, "#{organizer.user.name}", value: "#{organizer.id}", class: "form-check-label"  %>
        </div>
      <% end %>
    </div>


    <div class="form-group" id="onlineRadioBtn">
      <label class="form-label"><%= t('.online') %></label><br>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :online, true, class: "form-check-input" %>
        <%= form.label :online, t('.online_true'), value: "true", class: "form-check-label" %>
      </div>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :online, false, class: "form-check-input" %>
        <%= form.label :online, t('.online_false'), value: "false", class: "form-check-label" %>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label"><%= t('.permission') %></label><br>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :permission, true, class: "form-check-input" %>
        <%= form.label :permission, t('.permission_true'), value: "true", class: "form-check-label"  %>
      </div>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :permission, false, class: "form-check-input" %>
        <%= form.label :permission, t('.permission_false'), value: "false", class: "form-check-label"  %>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label"><%= t('.guest') %></label><br>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :guest_allowed, true, class: "form-check-input" %>
        <%= form.label :guest_allowed, t('.guest_true'), value: "true", class: "form-check-label"  %>
      </div>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :guest_allowed, false, class: "form-check-input" %>
        <%= form.label :guest_allowed, t('.guest_false'), value: "false", class: "form-check-label"  %>
      </div>
    </div>

    <div class="form-group" id="address-form">
      <%= form.label :address, class: "form-label" %>
      <div class="row">
        <div class="col-md-10">
          <%= form.text_field :address, class: "form-control", id: "map-input"%>
        </div>
        <div class="col-md-2">
          <p class="btn btn-secondary" onclick="codeAddress()">表示</p>
        </div>
      </div>
      <div id="event-form-map"></div>
    </div>
  </div>

  <hr>

  <div class="languages-form">

    <%= form.fields_for :event_languages do |language| %>

      <div class="language-form">
        <h3 class="mb-3 mt-4 ml-3"><%= "#{t('helpers.js.event_language')} #{language.index + 1}" %></h3>
        <div class="event-new-content mb-5">
          <div class="form-group">
            <%= language.label :language_id %>
            <%= language.select :language_id, @languages.map { |lang| [lang.ja_name, lang.id]}, {}, {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= language.label :max %>
            <%= language.number_field :max, min: 1, class: "form-control" %>
          </div>
          <% if language.object.id.present? %>
            <p><%= link_to t('.delete_language'), delete_language_organizing_group_events_path(lang_id:language.object.id), method: :delete, data: { confirm: t('helpers.confirm.delete_language') } %></p>
          <% end %>
        </div>
      </div>

    <% end %>

  </div>

  <p class="add-form-btn btn btn-warning ml-4 mb-4"><%= t('.add_language') %></p>

  <div class="border-dashed"></div>

  <div class="actions ml-4 mt-5 text-center">
    <%= form.submit event_submit_btn, class: "btn btn-success event-submit-btn" %>
  </div>
<% end %>

<script>
console.log(gon.userData)
var map;
var geocoder;
var marker;
var mapLatLng;
function initMap(){
  geocoder = new google.maps.Geocoder();

  if (gon.event != null){
    mapLatLng = new google.maps.LatLng({lat: gon.event.lat, lng: gon.event.lng});
  } else {
    mapLatLng = new google.maps.LatLng({lat: 35.7100069, lng: 139.8108103});
  }

  map = new google.maps.Map(document.getElementById('event-form-map'),{
    center: mapLatLng,
    zoom: 13
  });

  if (gon.event != null){
    marker = new google.maps.Marker({
      map: map,
      position: mapLatLng
    });
  }
}
function codeAddress(){
  let inputAddress = document.getElementById('map-input').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {

      if(marker != null){
       marker.setMap(null);
      }
      marker = null;

      map.setCenter(results[0].geometry.location);
      marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('No result:' + status);
    };
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_HTTP'] %>&callback=initMap" async defer></script>
