<%= form_with(model: event, local: true, url: event_create_or_update ) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="event-new-content mb-5">
    <div class="form-group">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :schedule, class: "form-label" %>
      <%= form.datetime_field :schedule, min: Time.zone.today, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group">
      <label class="form-label"><%= t('.choose_organizer') %></label><br>
      <% @organizers.each do |organizer| %>
        <div class="form-check form-check-inline ml-4">
          <%= form.radio_button :organizer_id, "#{organizer.id}", class: "form-check-input" %>
          <%= form.label :organizer_id, "#{organizer.user.name}", value: "#{organizer.id}", class: "form-check-label"  %>
        </div>
      <% end %>
    </div>


    <div class="form-group">
      <label class="form-label"><%= t('.online') %></label><br>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :online, true, class: "form-check-input" %>
        <%= form.label :online, t('.online_true'), value: "true", class: "form-check-label" %>
      </div>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :online, false, class: "form-check-input" %>
        <%= form.label :online, t('.online_false'), value: "false", class: "form-check-label" %>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label"><%= t('.permission') %></label><br>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :permission, true, class: "form-check-input" %>
        <%= form.label :permission, t('.permission_true'), value: "true", class: "form-check-label"  %>
      </div>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :permission, false, class: "form-check-input" %>
        <%= form.label :permission, t('.permission_false'), value: "false", class: "form-check-label"  %>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label"><%= t('.guest') %></label><br>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :guest_allowed, true, class: "form-check-input" %>
        <%= form.label :guest_allowed, t('.guest_true'), value: "true", class: "form-check-label"  %>
      </div>
      <div class="form-check form-check-inline ml-4">
        <%= form.radio_button :guest_allowed, false, class: "form-check-input" %>
        <%= form.label :guest_allowed, t('.guest_false'), value: "false", class: "form-check-label"  %>
      </div>
    </div>

    <div class="form-group" id="address-form">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-control" %>
    </div>
  </div>

  <hr>

  <div class="languages-form">

    <%= form.fields_for :event_languages do |language| %>

      <div class="language-form">
        <h3 class="mb-3 mt-4 ml-3"><%= "#{t('helpers.js.event_language')} #{language.index + 1}" %></h3>
        <div class="event-new-content mb-5">
          <div class="form-group">
            <%= language.label :language_id %>
            <%= language.select :language_id, @languages.map { |lang| [lang.ja_name, lang.id]}, {}, {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= language.label :max %>
            <%= language.number_field :max, min: 1, class: "form-control" %>
          </div>
          <% if language.object.id.present? %>
            <p><%= link_to t('.delete_language'), delete_language_organizing_group_events_path(lang_id:language.object.id), method: :delete, data: { confirm: t('helpers.confirm.delete_language') } %></p>
          <% end %>
        </div>
      </div>

    <% end %>

  </div>

  <p class="add-form-btn btn btn-warning ml-4 mb-4"><%= t('.add_language') %></p>

  <div class="border-dashed"></div>

  <div class="actions ml-4 mt-5 text-center">
    <%= form.submit event_submit_btn, class: "btn btn-success event-submit-btn" %>
  </div>
<% end %>
