<div class="event-wrapper mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 main-container event-container">

        <h3 class="mb-4 ml-3">イベント内容の翻訳作成フォーム</h3>

        <%= form_with(url: create_translation_organizing_group_event_path(group_id: @group.id, id: @event.id), local: true ) do |form| %>

          <% if @event.errors.any? %>
            <div class="error-container">
              <div id="error_explanation">
                <h3>
                  <%= t('errors.template.header.other', count: @event.errors.count, model: t('helpers.model.event')) %>
                </h3>
                <ul>
                <% @event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <%= form.hidden_field :original_language, value: @original_language %>
          <div class="event-new-content mb-5">
            <div class="form-group">
              <%= form.label :original_content, "#{Language.find_by(code: @original_language).ja_name}", class: "form-label" %>
              <%= form.text_area :original_content, class: "form-control", value: @original_content, rows: "4" %>
            </div>

            <% @translation_count = -1 %>
            <% @translation.each do |code, content| %>

              <% @translation_count += 1 %>
              <%= form.hidden_field "translation_#{@translation_count}[code]".intern , value: code %>
              <div class="form-group">
                <%= form.label "translation_#{@translation_count}[content]".intern , "#{Language.find_by(code: code).ja_name}" , class: "form-label" %>
                <% if content == nil %>
                  <%= form.text_area "translation_#{@translation_count}[content]".intern , class: "form-control", placeholder: "自動翻訳に未対応の言語です。作成する場合は、保存したい言語で入力してください。", rows: "4" %>
                <% else %>
                  <%= form.text_area "translation_#{@translation_count}[content]".intern , class: "form-control", value: content, rows: "4" %>
                <% end %>
              </div>

            <% end %>
            <%= form.hidden_field "translation_count".intern , value: @translation_count %>


            <span>この翻訳でよければ！⇒</span>

            <%= form.submit %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
