<div class="group-new-content">

  <%= form_with(model: group, local: true) do |form| %>
    <% if group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table class="table group-new-table">
      <div class="field">
        <tr>
          <th><%= form.label :name %></th>
          <td><%= form.text_field :name, class: "group-name-box" %></td>
        </tr>
      </div>
      <div class="field">
        <tr>
          <th><%= form.label :detail %></th>
          <td><%= form.text_area :detail, class: "group-detail-box" %></td>
        </tr>
      </div>
      <div class="field text-center">
        <tr>
          <th><%= t('.permission') %></th>
          <td>
            <%= form.label :permission, t('.permission_true'), value: "true"  %>
            <%= form.radio_button :permission, true, class: "mr-3" %>
            <%= form.label :permission, t('.permission_false'), value: "false"  %>
            <%= form.radio_button :permission, false %>
          </td>
        </tr>
      </div>
    </table>

    <div class="actions text-center">
      <%= form.submit t('helpers.btn.create_group'), class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
