<div class="group-new-content">

  <%= form_with(model: group, local: true, url: group_new_or_edit) do |form| %>

    <% if group.errors.any? %>
      <div class="error-container">
        <div id="error_explanation">
          <h3>
            <%= t('errors.template.header.other', count: group.errors.count, model: t('helpers.model.group')) %>
          </h3>
          <ul>
          <% group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <table class="table group-new-table">
      <div class="field">
        <tr>
          <th><%= form.label :name %></th>
          <td><%= form.text_field :name, class: "group-name-box" %></td>
        </tr>
      </div>
      <div class="field">
        <tr>
          <th><%= form.label :detail %></th>
          <td><%= form.text_area :detail, class: "group-detail-box" %></td>
        </tr>
      </div>
      <div class="field text-center">
        <tr>
          <th><%= t('.permission') %></th>
          <td>
          <%= form.radio_button :permission, true %>
            <%= form.label :permission, t('.permission_true'), value: "true"  %>
            <%= form.radio_button :permission, false, class: "ml-3" %>
            <%= form.label :permission, t('.permission_false'), value: "false"  %>
          </td>
        </tr>
      </div>
    </table>

    <div class="actions text-center">
      <%= form.submit group_submit_btn, class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
