<h2>グループ詳細</h2>

<table>
  <tr>
    <th>ID：</th>
    <td><%= @group.id %></td>
  </tr>
  <tr>
    <th>名前：</th>
    <td><%= @group.name %></td>
  </tr>
  <tr>
    <th>詳細：</th>
    <td><%= simple_format(@group.detail) %></td>
  </tr>
  <tr>
    <th>加入許可：</th>
    <td>
      <% if @group.permission %>
        許可制
      <% else %>
        自由参加
      <% end %>
    </td>
  </tr>
</table>

<p>自己ステータス:<%= chk_member_status(current_user.id) %></p>

<% if @member_self.nil? %>
  <p><%= link_to 'グループに加入リクエストを送る', members_path(group_id: @group.id), method: :post %></p>
<% elsif @group.owner != current_user %>
  <p><%= link_to 'グループから脱退する', member_path(id:@member_self, group_id: @group.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<h2>メンバー情報</h2>

<table>
  <tr>
    <th>名前</th>
    <th>ステータス</th>
    <th>加入日</th>
  </tr>
  <% @members.each do |member| %>
    <tr>
      <td><%= link_to "#{member.user.name}", "/profile/#{member.user_id}" %></td>
      <td><%= chk_member_status(member.user_id) %></td>
      <td><%= member.created_at %></td>
    </tr>
  <% end %>
</table>
