<h2>グループ詳細</h2>

<table>
  <tr>
    <th>ID：</th>
    <td><%= @group.id %></td>
  </tr>
  <tr>
    <th>名前：</th>
    <td><%= @group.name %></td>
  </tr>
  <tr>
    <th>詳細：</th>
    <td><%= simple_format(@group.detail) %></td>
  </tr>
</table>

<%= link_to '編集', edit_group_path(@group) %> |
<%= link_to '削除', group_path(@group), method: :delete, data: { confirm: 'Are you sure?' } %>
