<%= search_form_for @q do |f| %>

  <% if params[:q].present? %>
    <% if params[:q][:name_or_content_or_address_cont].present? || params[:q][:event_languages_language_id_eq].present? || params[:q][:schedule_gteq].present? || params[:q][:schedule_lteq].present? || params[:q][:online_eq].present? || (@address.present? && @within.present?) %>
      <div class="row search-info-box">
        <p class="col-md-3 searched-title d-flex align-items-center"><%= t('.searched_title') %></p>
        <div class="col-md-9">
          <p class="searched-contents text-danger">
            <% if params[:q][:name_or_content_or_address_cont].present? %>
              <span class="searched-info-piece"><%= params[:q][:name_or_content_or_address_cont] %></span>
            <% end %>

            <% if params[:q][:event_languages_language_id_eq].present? %>
              <span class="searched-info-piece"><%= Language.find(params[:q][:event_languages_language_id_eq].to_i).ja_name %></span>
            <% end %>

            <% if params[:q][:schedule_gteq].present? %>
              <span class="searched-info-piece"><%= l DateTime.parse(params[:q][:schedule_gteq]), format: :long %><%= t('.from') %></span>
            <% end %>

            <% if params[:q][:schedule_lteq].present? %>
              <span class="searched-info-piece"><%= l DateTime.parse(params[:q][:schedule_lteq]), format: :long %><%= t('.to') %></span>
            <% end %>

            <% if @address.present? && @within.present? %>
              <span class="searched-info-piece"><%= @address %><%= t('.around_info') %><%= "#{@within}" %>km</span>
            <% end %>

            <% if params[:q][:online_eq] == "true" %>
              <span class="searched-info-piece"><%= t('.online') %></span>
            <% elsif params[:q][:online_eq] == "false" %>
              <span class="searched-info-piece"><%= t('.real') %></span>
            <% else %>
              <span class="searched-info-piece"><%= t('.both') %></span>
            <% end %>

          </p>
        </div>
      </div>
    <% end %>
  <% elsif @address.present? && @within.present? %>
    <div class="row search-info-box">
      <p class="col-md-3 searched-title d-flex align-items-center"><%= t('.searched_title') %></p>
      <div class="col-md-9">
        <p class="searched-contents text-danger">
          <span class="searched-info-piece"><%= @address %><%= t('.around_info') %><%= "#{@within}" %>km</span>
        </p>
      </div>
    </div>

  <% end %>

  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.search_field :name_or_content_or_address_cont, class: "form-control", placeholder: t('.keyword') %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.select :event_languages_language_id_eq, @languages, {prompt: t('.select_language')}, {class: "form-control"} %>
    </div>
  </div>

  <div id="extended-search">

    <div class="border-dashed mt-2"></div>

    <div class="row form-group">
      <div class="col-md-2 mt-2 mb-2">
        <%= f.label :schedule, class: "col-form-label" %>
      </div>
      <div class="col mt-2 mb-2">
        <%= f.datetime_field :schedule_gteq, min: Time.zone.today, class: "form-control" %>
      </div>
      <div class="col mt-2 mb-2">
        <%= f.datetime_field :schedule_lteq, min: Time.zone.today, class: "form-control" %>
      </div>
    </div>

    <div class="border-dashed"></div>

    <div class="form-check form-check-inline mt-2">
      <%= f.radio_button :online_eq, true, class: "form-check-input ml-2" %>
      <%= f.label :online_eq, t('.online'), value: "true", class: "form-check-label" %>
      <%= f.radio_button :online_eq, false, class: "form-check-input ml-3" %>
      <%= f.label :online_eq, t('.real'), value: "false", class: "form-check-label" %>
      <%= f.radio_button :online_eq, '', class: "form-check-input ml-3" %>
      <%= f.label :online_eq, t('.whichever'), value: '', class: "form-check-label" %>
    </div>

    <div class="row form-group mt-3">
      <div class="col-md-2">
        <%= label :geo, t('activerecord.attributes.event.address'), class: "col-form-label" %>
      </div>
      <div class="col-md-6">
        <%= text_field :geo, "address", value: @address, class: "form-control" %>
      </div>
      <div class="col-md-4 row">
        <div class="col-md-4">
          <%= label :geo, t('.around'), class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= number_field :geo, "within", value: @within, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= label :geo, "km", class: "col-form-label" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 offset-md-8">
        <%= f.submit t('helpers.btn.search'), class: "btn btn-primary mr-5" %>
      </div>
    </div>

  </div>

  <div id="primal-submit" class="row">
    <div class="col-md-3 offset-md-6 text-right">
      <span class="btn btn-secondary" id="showSearchBtn"><%= t('helpers.btn.detail_search') %></span>
    </div>
    <div class="col-md-2">
      <%= f.submit t('helpers.btn.search'), class: "btn btn-primary mr-5" %>
    </div>
  </div>

<% end %>
