<h2>イベント一覧</h2>

<% @events.each do |event| %>

  <% if event.schedule.to_date > @index_date %>
    <% @index_date = event.schedule.to_date %>
    <p><%= l @index_date, format: :index %></p>
  <% end %>

  <table>
    <tr>
      <th>イベント名：</th>
      <td><%= link_to "#{event.name}", event_path(event) %></td>
    </tr>
    <tr>
      <th>グループ名：</th>
      <td><%= event.group.name %></td>
    </tr>
    <tr>
      <th>日時：</th>
      <td><%= l event.schedule, format: :long %></td>
    </tr>
    <tr>
      <th>場所：</th>
      <td><%= event.address %></td>
    </tr>
  </table>

  <h3>参加可能な言語</h3>

  <% @languages_select_list = [] %>

  <% event.event_languages.each do |event_language| %>
    <p>
      <% language_name = event_language.language.ja_name %>
      <%= language_name %>：定員<%= event_language.max %>人
      <% rest = event_language.max - event_language.participants.count %>
      <% if rest > 0 %>
      　※あと<%= rest %>人参加できます
        <% @languages_select_list.push([language_name,event_language.id]) %>
      <% else %>
        現在空きがありません
      <% end %>
    </p>
  <% end %>

  <% if event.users.include?(current_user) %>

    <% participant = Participant.find_by(event_id:event.id, user_id:current_user.id) %>
    <% if participant.pending? %>
      <p>現在、オーガナイザーの参加許可を待っています！</p>
    <% else %>
      <p>あなたは参加予定です！</p>
    <% end %>
    <p><%= link_to 'イベント参加を取りやめる', participant_path(participant.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <% else %>

    <% if event.permission? %>
      <p>※このイベントはオーガナイザーの許可のあとで参加が確定します</p>
    <% end %>
    <% if event.guest_allowed? %>
      <p>※このイベントはグループメンバー以外も参加可能です</p>
    <% end %>

    <%= form_with(url: participants_path, local: true) do |form| %>
      <%= form.hidden_field :event_id, value: event.id %>
      <%= form.hidden_field :group_id, value: event.group_id %>
      <%= form.label :event_language_id %>
      <%= form.select :event_language_id, @languages_select_list %>
      <br>

      <% if event.group.users.include?(current_user) %>
        <%= form.hidden_field :guest, value: false %>
      <% else %>
        <% if event.guest_allowed? %>
          <%= form.label :guest, "ゲストとして参加", value: true %>
          <%= form.radio_button :guest, true %>
        <% end %>
        <%= form.label :guest, "グループに登録して参加", value: false  %>
        <%= form.radio_button :guest, false, checked: true %>
      <% end %>

      <%= form.submit %>
    <% end %>

  <% end %>

  <br>
<% end %>
