<div class="container-fluid">
  <div class="container mb-4">
    <div class="row">

      <div class="col-lg-8 event-index-box index-bg">

        <div class="search-form-container">
          <%= render 'search_form' %>
        </div>

        <% @events.each do |event| %>

          <% if event.schedule.to_date > @index_date %>
            <% @index_date = event.schedule.to_date %>
            <p class="index-date events-index-date mt-5"><%= l @index_date, format: :index %></p>
          <% end %>


          <div class="index-main-container ml-3">
            <div class="row">

              <div class="col-md-5">
                <table class="table table-sm table-borderless ml-3">
                  <tr>
                    <td class="index-event-name"><%= link_to "#{event.name}", event_path(event) %></td>
                  </tr>
                  <tr>
                    <td><%= link_to "#{event.group.name}", group_path(event.group) %></td>
                  </tr>
                  <tr>
                    <td><%= l event.schedule, format: :long %></td>
                  </tr>
                  <tr>
                    <td>
                      <% if event.online? %>
                        <%= t('.online') %>
                      <% else %>
                        <%= event.address %>
                      <% end %>
                    </td>
                  </tr>
                </table>
                <p>※画像表示スペース（未実装）※</p>
              </div>

              <div class="col-md-7">

                <% @languages_select_list = [] %>

                <table class="table table-sm table-borderless">
                  <% event.event_languages.each do |event_language| %>
                    <% language_name = event_language.language.ja_name %>
                    <% rest = event_language.max - event_language.participants.count %>
                    <tr>
                      <th class="index-language">
                        <%= event_language.language.ja_name %>
                      </th>
                      <td>
                        <% if rest > 0 %>
                          <span class="index-max"><%= "#{event_language.max}"+t('.max') %><span>/
                          <span class="index-rest"><%= t('.rest')+"#{rest}" %></span>
                          <% @languages_select_list.push([language_name,event_language.id]) %>
                        <% else %>
                          <span class="index-rest"><%= t('.no_rest') %></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </table>

                <% if event.users.include?(current_user) %>

                  <% participant = Participant.find_by(event_id:event.id, user_id:current_user.id) %>
                  <p class="index-status alert alert-warning">
                    <% if participant.pending? %>
                      <%= t('.pending') %>
                    <% else %>
                      <%= t('.accepted') %>
                    <% end %>
                  </p>
                  <p><%= link_to t('.delete_participant'), participant_path(participant.id), method: :delete, data: { confirm: t('helpers.confirm.delete') } %></p>

                <% elsif event.user == current_user %>
                  <p class="index-status alert alert-success"><%= t('.organizer') %></p>

                <% elsif @languages_select_list.present? %>

                  <%= form_with(url: participants_path, local: true) do |form| %>
                    <%= form.hidden_field :event_id, value: event.id %>
                    <%= form.hidden_field :group_id, value: event.group_id %>

                    <% if event.group.users.include?(current_user) %>
                      <%= form.hidden_field :guest, value: false %>
                    <% else %>
                      <div class="text-center">
                        <% if event.guest_allowed? %>
                          <%= form.radio_button :guest, true, id: "#{event.id}_guest_true" %>
                          <%= form.label :guest, t('.guest'), for: "#{event.id}_guest_true" %>
                        <% end %>
                        <%= form.radio_button :guest, false, checked: true, id: "#{event.id}_guest_false" %>
                        <%= form.label :guest, t('.member'), for: "#{event.id}_guest_false"  %>
                      </div>
                    <% end %>
                    <div class="text-center mb-2 index-btn">
                      <%= form.select :event_language_id, @languages_select_list %>
                      <%= form.submit t('helpers.submit.participate'), class: "btn btn-warning" %>
                    </div>
                  <% end %>

                <% end %>
                <div class="border-dashed"></div>
                <p><%= event.content.truncate(80) %></p>
              </div>
            </div>
          </div>

        <% end %>
      </div>

      <div class="col-lg-4 index-side-column">
        <div class="side-container map-side-container">
          地図を表示
        </div>

        <% if user_signed_in? %>
          <div class="side-container index-event-side-container">
            <h3><%= t('.coming_events') %></h3>
            <%if @coming_events.present? %>
              <% @index_date = 0 %>
              <% @coming_events.each do |event| %>
                <% if event.schedule.to_date > @index_date %>
                  <% @index_date = event.schedule.to_date %>
                  <p class="index-date"><%= l @index_date, format: :index %></p>
                <% end %>

                <table class="table table-sm table-primary">
                  <% participant = Participant.find_by(user_id:current_user.id, event_id:event.id) %>
                  <caption><%= link_to "#{t('.delete_participant')}", participant_path(participant.id), method: :delete, data: { confirm: t('helpers.confirm.delete') } %></caption>
                  <tr>
                    <th><%= t('.event_name') %></th>
                    <td><%= link_to "#{event.name}", event_path(event) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.group_name') %></th>
                    <td><%= link_to "#{event.group.name}", group_path(event.group) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.date') %></th>
                    <td><%= l event.schedule, format: :long %></td>
                  </tr>
                  <tr>
                    <th><%= t('.address') %></th>
                    <td><%= event.address %></td>
                  </tr>
                </table>
              <% end %>
            <% else %>
              <p><%= t('.no_events') %></p>
            <% end %>

            <% if @coming_events.present? && @organizing_events.present? %>
              <div class="border-dashed"></div>
            <% end %>

            <% if @organizing_events.present? %>
              <h3><%= t('.organizing_events') %></h3>

              <% @organizing_events.each do |event| %>
                <% if event.schedule.to_date > @index_date %>
                  <% @index_date = event.schedule.to_date %>
                  <p class="index-date"><%= l @index_date, format: :index %></p>
                <% end %>

                <table class="table table-sm table-warning">
                  <caption><%= link_to "#{t('.edit_event')}", edit_organizing_group_event_path(group_id: event.group.id, id: event.id) %></caption>
                  <tr>
                    <th><%= t('.event_name') %></th>
                    <td><%= link_to "#{event.name}", event_path(event) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.group_name') %></th>
                    <td><%= link_to "#{event.group.name}", group_path(event.group) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.date') %></th>
                    <td><%= l event.schedule, format: :long %></td>
                  </tr>
                  <tr>
                    <th><%= t('.address') %></th>
                    <td><%= event.address %></td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
