<h2>イベント詳細ページ</h2>

<% if @organizers.include?(current_user) %>
  <p>
    <%= link_to '編集', edit_organizing_group_event_path(id: @event, group_id: @group.id) %> |
    <%= link_to '削除', organizing_group_event_path(id: @event, group_id: @group.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<% @languages_select_list = [] %>

<h3>参加可能な言語</h3>
<% @event_languages.each do |event_language| %>
  <p><%= event_language.language.ja_name %>：<%= event_language.max %>人　※あと<%= rest = event_language.max - @event.participants.where(language_id: event_language.language_id).count %>人参加できます</p>
  <% @languages_select_list.push([event_language.language.ja_name,event_language.language_id]) if rest != 0 %>
<% end %>

<% if @event.permission? %>
  <p>※このイベントはオーガナイザーの許可のあとで参加が確定します</p>
<% end %>

<%= form_with(url: participants_path, local: true) do |form| %>
  <%= form.hidden_field :event_id, value: @event.id %>
  <%= form.label :language_id %>
  <%= form.select :language_id, @languages_select_list %>

  <%= form.submit %>
<% end %>



<table>
  <tr>
    <th>ID：</th>
    <td><%= @event.id %></td>
  </tr>
  <tr>
    <th>名前：</th>
    <td><%= @event.name %></td>
  </tr>
  <tr>
    <th>日時：</th>
    <td><%= @event.schedule %></td>
  </tr>
  <tr>
    <th>オーガナイザー：</th>
    <td><%= @organizer.name %></td>
  </tr>
  <tr>
    <th>グループ：</th>
    <td><%= @group.name %></td>
  </tr>
  <tr>
    <th>詳細：</th>
    <td><%= simple_format(@event.content) %></td>
  </tr>
  <tr>
    <th>オンラインイベント：</th>
    <td>
      <% if @event.online? %>
        オンラインイベントです
      <% else %>
        オンラインじゃないです
      <% end %>
    </td>
  </tr>
  <tr>
    <th>加入許可：</th>
    <td>
      <% if @event.permission? %>
        許可制
      <% else %>
        自由参加
      <% end %>
    </td>
  </tr>
  <tr>
    <th>非グループメンバーの参加：</th>
    <td>
      <% if @event.guest_allowed? %>
        あり
      <% else %>
        なし
      <% end %>
    </td>
  </tr>
  <tr>
    <th>住所：</th>
    <td><%= @event.address %></td>
  </tr>
  <tr>
    <th>場所名：</th>
    <td><%= @event.place %></td>
  </tr>
</table>
