<div class="container-fluid" id="event-bg">
<div class="event-wrapper mb-4">
  <div class="container">
    <div class="row">

      <div class="col-md-8 main-container event-show-container">
        <div class="group-show-content">

          <h2 class="ml-5"><%= @event.name %></h2>
          <div class="ml-5 sharing-btns">
            <%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@event.name} #{l @event.schedule, format: :twitter} #{online_or_address}%0A", class: "btn btn-outline-primary", title: 'Twitter', target: '_blank' do %>
              <i class="fab fa-twitter twitter-btn-fa"></i>
              <p class="twitter-btn-text"><%= t('.share_twitter') %></p>
            <% end %>
          </div>
          <hr>

          <div class="row">
            <div class="col-lg-10 offset-lg-1 mt-4">

              <ul class="nav nav-fill">
                <li class="nav-item">
                  <a href="#content-1" class="nav-link text-danger active" data-toggle="tab"><%= t('helpers.js.top_tab') %></a>
                </li>
                <% n = 1 %>
                <% @event.translations.each do |translation| %>
                  <% n += 1 %>
                  <% language = Language.find_by(code:translation.code) %>

                  <% if language.blank? || language.code == "xx" %>
                    <% language_tab = t('helpers.js.other_tab') %>
                  <% else %>
                    <% language_tab = language.ja_name %>
                  <% end %>

                  <li class="nav-item">
                    <a href=<%="\#content-#{n}"%> class="nav-link text-danger" data-toggle="tab"><%= language_tab %></a>
                  </li>
                <% end %>
              </ul>

              <div class="tab-content event-show-tab-contents">
                <div id="content-1" class="tab-pane active">
                  <%= simple_format(@event.content, class: "p-3") %>
                </div>
                <% n = 1 %>
                <% @event.translations.each do |translation| %>
                  <% n += 1 %>
                  <div id=<%="content-#{n}"%> class="tab-pane">
                    <%= simple_format(translation.content, class: "p-3") %>
                  </div>
                <% end %>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <% @languages_select_list = [] %>

              <div class="event-show-language-table">
                <table class="table table-sm table-borderless">
                  <% @event_languages.each do |event_language| %>
                    <% language_name = event_language.language.ja_name %>
                    <% rest = event_language.max - event_language.participants.count %>
                    <tr>
                      <th class="index-language">
                        <%= event_language.language.ja_name %>
                      </th>
                      <td>
                        <% if rest > 0 %>
                          <span class="index-max"><%= "#{event_language.max}"+t('.max') %><span>/
                          <span class="index-rest"><%= t('.rest')+"#{rest}" %></span>
                          <% @languages_select_list.push([language_name,event_language.id]) %>
                        <% else %>
                          <span class="index-rest"><%= t('.no_rest') %></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>


          <% if @event.images.attached? %>
            <p class="text-muted event-show-helptext"><%= t('.images') %></p>
            <% @event.images.each do |image| %>
              <% if image.blob.content_type == "video/mp4" %>
                <div class="text-center">
                  <video src="<%= rails_blob_path(image) %>" type="video/mp4" controls=true autobuffer=true class="event-show-video text-center" ></video>
                </div>
              <% end %>
            <% end %>

            <% @event.images.each do |image| %>
              <% if image.blob.content_type.in?(%('image/jpeg image/png')) %>
                <%= image_tag image.variant(resize: "400x400"), class: "event-show-images" %>
              <% end %>
            <% end %>
          <% end %>

          <div class="row">
            <div class="col-lg-10 offset-lg-1">

              <table class="table table-primary event-show-table">
                <tr>
                  <th><%= t('.organizer') %></th>
                  <td><%= link_to @organizer.name, "/profile/#{@organizer.id}" %></td>
                </tr>
                <tr>
                  <th><%= t('.group') %></th>
                  <td><%= link_to @group.name, group_path(@group) %></td>
                </tr>
                <tr>
                  <th><%= t('activerecord.attributes.event.permission') %></th>
                  <td>
                    <% if @event.permission? %>
                      <%= t('.permission_true') %>
                    <% else %>
                      <%= t('.permission_false') %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th><%= t('activerecord.attributes.event.guest') %></th>
                  <td>
                    <% if @event.guest_allowed? %>
                      <%= t('.guest_true') %>
                    <% else %>
                      <%= t('.guest_false') %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th><%= t('activerecord.attributes.event.schedule') %></th>
                  <td><%= l @event.schedule, format: :long %></td>
                </tr>
                <tr>
                  <th><%= t('activerecord.attributes.event.address') %></th>
                  <td>
                    <%= online_or_address %>
                  </td>
                </tr>
              </table>

              <% unless @event.online? %>
                <div class="mt-5" id="event-show-map"></div>
              <% end %>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="side-container status-side-container">
          <h3 class="text-center"><%= t('helpers.group.your_status') %></h3>
          <p class="text-center"><%= t('.group') %>:<br><span class="group-status ml-3">
          <% if user_signed_in? %>
            <%= chk_member_status(current_user.id) %>
          <% else %>
            <%= t('.not_login') %>
          <% end %>
          </span></p>

          <div class="border-dashed"></div>

          <% if @event.schedule < Time.zone.now %>
            <div class="past_event bg-warning">
              <p class="past_event_notice"><%= t('.past_event') %></p>
            </div>

          <% elsif @event.users.include?(current_user) %>

            <% participant = Participant.find_by(event_id:@event.id, user_id:current_user.id) %>
            <p class="index-status alert alert-danger text-center">
              <% if participant.pending? %>
                <%= t('.pending') %>
              <% else %>
                <%= t('.accepted') %>
              <% end %>
            </p>
            <p class="text-center"><%= link_to t('.delete_participant'), participant_path(id: participant.id, event_id: @event.id), method: :delete, data: { confirm: t('helpers.confirm.delete') } %></p>

          <% elsif @event.user == current_user %>
            <p class="index-status alert alert-success"><%= t('.you_organizer') %></p>

          <% elsif @languages_select_list.blank? %>
            <p class="side-container-no-rest text-center"><%= t('.no_rest') %></p>

          <% else %>

            <%= form_with(url: login_or_not_url, local: true) do |form| %>
              <%= form.hidden_field :event_id, value: @event.id %>
              <%= form.hidden_field :group_id, value: @event.group_id %>

              <% if @event.group.users.include?(current_user) %>
                <%= form.hidden_field :guest, value: false %>
              <% else %>
                <div class="text-center">
                  <% if @event.guest_allowed? %>
                    <%= form.radio_button :guest, true %>
                    <%= form.label :guest, t('.guest'), value: true %><br>
                  <% end %>
                  <%= form.radio_button :guest, false, checked: true %>
                  <%= form.label :guest, t('.member'), value: false  %>
                </div>
              <% end %>
              <p class="text-center mb-2 index-btn">
                <%= form.select :event_language_id, @languages_select_list %>
              </p>
              <div class="text-center">
                <%= form.submit login_or_not_submit, class: "btn btn-warning" %>
              </div>
            <% end %>

          <% end %>

        </div>

        <div class="side-container participant-side-container">
          <h3 class="mb-3 text-center"><%= t('.participants') %></h3>

          <% @event_languages.each do |event_language| %>
            <p class="participant-language"><%= event_language.language.ja_name %></p>
            <div>
              <ul class="participant-list">
                <% event_language.participants.each do |participant| %>
                  <li>
                    <% if participant.user.avatar.attached? %>
                      <%= link_to "/profile/#{participant.user_id}" do %>
                        <%= image_tag participant.user.avatar.variant(resize: "100x100"), class: "header-avatar" %>
                      <% end %>
                    <% else %>
                      <%= link_to participant.user.name.truncate(8, omission: '~'), "/profile/#{participant.user_id}" %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<% unless @event.online? %>
  <script>
  let map;

  function initMap(){
    let mapLatLng = new google.maps.LatLng({lat: gon.event.lat, lng: gon.event.lng});
    map = new google.maps.Map(document.getElementById('event-show-map'),{
      center: mapLatLng,
      zoom: 15
    });

    eventMarker = new google.maps.Marker({
      position: mapLatLng,
      map: map
    });

    eventWindow = new google.maps.InfoWindow({
      content: '<h4>' + gon.event.name + '</h4>' +
              '<div>' + gon.event.address + '</div>' +
              '<div>' + gon.event.schedule + '</div>'
    });

    eventMarker.addListener('click', function(){
      eventWindow.open(map, eventMarker);
    });
  }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_HTTP'] %>&callback=initMap" async defer></script>
<% end %>
