<h2>ユーザー詳細ページ</h2>

<table>
  <tr>
    <th>ID：</th>
    <td><%= @user.id %></td>
  </tr>
  <tr>
    <th>名前：</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>自己紹介：</th>
    <td><%= @user.introduction %></td>
  </tr>
  <tr>
    <th>利用開始日：</th>
    <td><%= @user.created_at %></td>
  </tr>
</table>

<% if @user == current_user %>
  <table>
    <tr>
      <th>メールアドレス：</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>住所：</th>
      <td><%= @user.address %></td>
    </tr>
    <tr>
      <th>緯度：</th>
      <td><%= @user.lat %></td>
    </tr>
    <tr>
      <th>経度：</th>
      <td><%= @user.lon %></td>
    </tr>
  </table>

  <%= link_to 'プロフィール変更', edit_user_registration_path %>

  <h3>所属グループ</h3>
    <table>
      <% @members.each do |member| %>
        <tr>
          <th>グループ名:</th>
          <td><%= member.group.name %></td>
        </tr>
        <tr>
          <th>参加日時：</th>
          <td><%= member.created_at %></td>
        </tr>
      <% end %>
    </table>

  <h3>今後の参加予定のイベント</h3>
  <% @events.each do |event| %>
    <% if event.schedule.to_date > @index_date %>
      <% @index_date = event.schedule.to_date %>
      <p><%= l @index_date, format: :index %></p>
    <% end %>

    <table>
      <tr>
        <th>イベント名：</th>
        <td><%= link_to "#{event.name}", event_path(event) %></td>
      </tr>
      <tr>
        <th>グループ名：</th>
        <td><%= event.group.name %></td>
      </tr>
      <tr>
        <th>日時：</th>
        <td><%= l event.schedule, format: :long %></td>
      </tr>
      <tr>
        <th>場所：</th>
        <td><%= event.address %></td>
      </tr>
    </table>
    <% participant = Participant.find_by(user_id:current_user.id, event_id:event.id) %>
    <p><%= link_to 'イベント参加を取りやめる', participant_path(participant.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <% end %>
<% end %>
