<div class="user-wrapper mb-4">

  <div class="container">
    <div class="row">

      <div class="col-md-8 main-container user-container">
        <div class="user-new-content">

          <div class="row">
            <div class="col-lg-10 offset-lg-1">

              <h2><%= t('.title') %></h2>

              <table class="table user-show-table">
                <tr>
                  <th><%= t('activerecord.attributes.user.name') %></th>
                  <td><%= @user.name %></td>
                </tr>
                <tr>
                  <th><%= t('activerecord.attributes.user.introduction') %></th>
                  <td><%= @user.introduction %></td>
                </tr>
                <tr>
                  <th><%= t('activerecord.attributes.user.created_at') %></th>
                  <td><%= l @user.created_at, format: :long %></td>
                </tr>

                <% if @user == current_user %>
                  <tr>
                    <th><%= t('activerecord.attributes.user.email') %></th>
                    <td><%= @user.email %></td>
                  </tr>
                  <tr>
                    <th><%= t('activerecord.attributes.user.address') %></th>
                    <td><%= @user.address %></td>
                  </tr>
                <% end %>
              </table>

              <% if @user == current_user %>
                <div class="text-center mb-4">
                  <%= link_to t('.edit_btn'), edit_user_registration_path, class: "btn btn-success" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="side-container event-side-container">
          <% if @user == current_user %>
            <h3><%= t('.coming_events') %></h3>
            <%if @events.present? %>

              <% @events.each do |event| %>
                <% if event.schedule.to_date > @index_date %>
                  <% @index_date = event.schedule.to_date %>
                  <p class="index-date"><%= l @index_date, format: :index %></p>
                <% end %>

                <table class="table table-sm table-primary">
                  <% participant = Participant.find_by(user_id:current_user.id, event_id:event.id) %>
                  <caption><%= link_to "#{t('.delete_participant')}", participant_path(participant.id), method: :delete, data: { confirm: 'Are you sure?' } %></caption>
                  <tr>
                    <th><%= t('.event_name') %></th>
                    <td><%= link_to "#{event.name}", event_path(event) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.group_name') %></th>
                    <td><%= link_to "#{event.group.name}", group_path(event.group) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.date') %></th>
                    <td><%= l event.schedule, format: :long %></td>
                  </tr>
                  <tr>
                    <th><%= t('.address') %></th>
                    <td><%= event.address %></td>
                  </tr>
                </table>
              <% end %>
            <% else %>
              <p><%= t('.no_events') %></p>
            <% end %>

            <% if @events.present? && @organizing_events.present? %>
              <div class="border-dashed"></div>
            <% end %>

            <% if @organizing_events.present? %>
              <h3><%= t('.organizing_events') %></h3>

              <% @organizing_events.each do |event| %>
                <% if event.schedule.to_date > @index_date %>
                  <% @index_date = event.schedule.to_date %>
                  <p class="index-date"><%= l @index_date, format: :index %></p>
                <% end %>

                <table class="table table-sm table-warning">
                  <caption><%= link_to "#{t('.edit_event')}", edit_organizing_group_event_path(group_id: event.group.id, id: event.id) %></caption>
                  <tr>
                    <th><%= t('.event_name') %></th>
                    <td><%= link_to "#{event.name}", event_path(event) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.group_name') %></th>
                    <td><%= link_to "#{event.group.name}", group_path(event.group) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.date') %></th>
                    <td><%= l event.schedule, format: :long %></td>
                  </tr>
                  <tr>
                    <th><%= t('.address') %></th>
                    <td><%= event.address %></td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="side-container group-side-container">
          <h3><%= t('.groups') %></h3>
          <% if @user == current_user %>
            <% if @groups.present? %>
              <ul>
                <% @groups.each do |group| %>
                  <li><%= link_to group.name, group_path(group) %></li>
                <% end %>
              </ul>
            <% else %>
              <p><%= t('.no_groups') %></p>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>
