<h1>グループ編集</h1>

<%= form_with(model: @group, local: true, url: organizing_group_path) do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form_table">
    <div class="field">
      <tr>
        <th><%= form.label :name %></th>
        <td><%= form.text_field :name %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <th><%= form.label :detail %></th>
        <td><%= form.text_area :detail %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td>
          <%= form.label :permission, "参加に許可が必要", value: "true"  %>
          <%= form.radio_button :permission, true %>
        </td>
        <td>
          <%= form.label :permission, "自由に参加", value: "false"  %>
          <%= form.radio_button :permission, false %>
        </td>
      </tr>
    </div>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
