<h2>オーガナイザー管理画面</h2>

<% if @pending_members.present? %>
  <h3><%= link_to "すべてのグループ参加リクエストを許可", accept_all_members_organizing_members_path, method: :patch %></h3>
  <table>
    <tr>
      <th>名前</th>
      <th>リクエストグループ</th>
      <th>リクエスト日時</th>
      <th></th>
      <th></th>
    </tr>
    <% @pending_members.each do |member| %>
      <tr>
        <td><%= link_to "#{member.user.name}", "/profile/#{member.user_id}" %></td>
        <td><%= member.group.name %></td>
        <td><%= member.created_at %></td>
        <td><%= link_to '許可', organizing_member_path(member.id), method: :patch %></td>
        <td><%= link_to '許可しない', deny_organizing_member_path(member.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
<% if @pending_participants.present? %>
  <h3><%= link_to "すべてのイベント参加リクエストを許可", accept_all_participants_organizing_participants_path, method: :patch %></h3>
  <table>
    <tr>
      <th>名前</th>
      <th>リクエストイベント</th>
      <th>リクエスト日時</th>
      <th></th>
      <th></th>
    </tr>
    <% @pending_participants.each do |participant| %>
      <tr>
        <td><%= link_to "#{participant.user.name}", "/profile/#{participant.user_id}" %></td>
        <td><%= participant.event.name %></td>
        <td><%= participant.created_at %></td>
        <% if !participant.event.guest_allowed? && Member.find_by(user_id: participant.user_id, group_id: participant.group_id, pending: true) %>
          <td></td>
          <td>先にグループ参加リクエストを許可してください</td>
        <% else %>
          <td><%= link_to '許可', organizing_participant_path(participant.id), method: :patch %></td>
          <td><%= link_to '許可しない', deny_organizing_participant_path(participant.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<br>

<h3><%= link_to "新規グループ作成", new_group_path %></h3>

<p>ここからグループごとに表示</p>
<% @groups.each do |group| %>
  <h3><%= group.name %></h3>
  <% if current_user == group.owner %>
    <p>あなたがオーナーです</p>
    <p>
      <%= link_to '編集', edit_organizing_group_path(group) %> |
      <%= link_to '削除', organizing_group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
  <p><%= link_to 'メンバー管理画面へ', organizing_group_path(group) %></p>
  <p><%= link_to '新規イベント作成', new_organizing_group_event_path(group_id:group.id) %></p>
  <p>予定中のイベント表示 | <%= link_to '過去のイベント', old_events_group_path(group) %></p>
  <% if group.events.present? %>
    <table>
      <tr>
        <th>名前</th>
        <th>日時</th>
        <th></th>
      </tr>
      <% group.events.where('schedule >= ?', Time.zone.now).order(schedule: "ASC").each do |event| %>
        <tr>
          <td><%= link_to "#{event.name}", event_path(event) %></td>
          <td><%= event.schedule %></td>
          <td>
            <%= link_to '編集', edit_organizing_group_event_path(id: event.id, group_id: group.id) %> |
            <%= link_to '削除', organizing_group_event_path(id: event.id, group_id: group.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <br>
<% end %>
