<h2>オーガナイザー管理画面</h2>

<p>ここに参加リクエストなどを表示</p>

<table>
  <tr>
    <th>名前</th>
    <th>リクエストグループ</th>
    <th>リクエスト日時</th>
    <th></th>
    <th></th>
  </tr>
  <% @pending_members.each do |member| %>
    <tr>
      <td><%= member.user.name %></td>
      <td><%= member.group.name %></td>
      <td><%= member.created_at %></td>
      <td><%= link_to '許可', organizings_member_path(member.id), method: :patch %></td>
      <td><%= link_to '許可しない', organizings_member_path(member.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p>ここからグループごとに表示</p>
<% @groups.each do |group| %>
  <h3><%= group.name %></h3>
  <p><%= link_to 'グループ管理画面へ', organizings_group_path(group.id) %></p>
  <p>予定中のイベント表示</p>
<% end %>
