<div class="organizing-wrapper mb-4">
  <div class="container">
    <div class="row">

      <button type="button" class="btn btn-success organizing-title ml-4 mb-2" data-toggle="modal" data-target="#instructionModal">
        <%= t('.title') %>
      </button>

      <div class="modal fade" id="instructionModal" tabindex="-1" role="dialog" aria-labelledby="instructionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content instruction-modal">
            <div class="modal-header">
              <h5 class="modal-title" id="instructionModalLabel"><%= t('.title') %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="modal-title"><%= t('.about_request') %></p>
              <ul>
                <li><%= t('.instruction1') %></li>
                <li><%= t('.instruction2') %></li>
              </ul>
              <div class="border-dashed"></div>
              <p class="modal-title"><%= t('.about_group') %></p>
              <ul class="mb-4">
                <li><%= t('.instruction3') %></li>
                <li><%= t('.instruction4') %></li>
                <li><%= t('.instruction5') %></li>
              </ul>

              <table class="table table-sm instruction-table">
                <tr>
                  <th class="top-left-th"></th>
                  <th class="text-center top-th"><%= t('helpers.status.owner') %></th>
                  <th class="text-center top-th"><%= t('helpers.status.organizer') %></th>
                  <th class="text-center top-th"><%= t('helpers.status.member') %></th>
                </tr>
                <tr>
                  <th class="action-th"><%= t('.action1') %></th>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="action-th"><%= t('.action2') %></th>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="action-th"><%= t('.action3') %></th>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="action-th"><%= t('.action4') %></th>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="action-th"><%= t('.action5') %></th>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="action-th"><%= t('.action6') %></th>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="action-th"><%= t('.action7') %></th>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="action-th"><%= t('.action8') %></th>
                  <td><%= t('helpers.btn.circle') %></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 organizing-request-container main-container">
        <h3 class="mb-4"><%= t('.request_title') %></h3>
        <div class="border-dashed"></div>
        <% if @pending_members.present? || @pending_participants.present? %>
          <% if @pending_members.present? %>
            <p><%= link_to t('.accept_all_members'), accept_all_members_organizing_members_path, class: "btn btn-primary", method: :patch %></p>
            <table class="table table-hover">
              <tr>
                <th><%= t('.name') %></th>
                <th><%= t('.request_group') %></th>
                <th><%= t('.request_date') %></th>
                <th colspan="2"></th>
              </tr>
              <% @pending_members.each do |member| %>
                <tr>
                  <td><%= link_to member.user.name, "/profile/#{member.user_id}" %></td>
                  <td><%= link_to member.group.name, group_path(member.group) %></td>
                  <td><%= l member.created_at, format: :long %></td>
                  <td><%= link_to t('helpers.request.accept'), organizing_member_path(member.id), method: :patch %></td>
                  <td><%= link_to t('helpers.request.deny'), deny_organizing_member_path(member.id), method: :delete, data: { confirm: t('helpers.confirm.member_deny') } %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <% if @pending_members.present? && @pending_participants.present? %>
            <div class="border-dashed mt-4 mb-4"></div>
          <% end %>
          <% if @pending_participants.present? %>
            <p><%= link_to t('.accept_all_participants'), accept_all_participants_organizing_participants_path, class: "btn btn-warning", method: :patch %></p>
            <table class="table table-hover">
              <tr>
                <th><%= t('.name') %></th>
                <th><%= t('.request_event') %></th>
                <th><%= t('.request_date') %></th>
                <th colspan="2"></th>
              </tr>
              <% @pending_participants.each do |participant| %>
                <tr>
                  <td><%= link_to participant.user.name, "/profile/#{participant.user_id}" %></td>
                  <td><%= link_to participant.event.name, event_path(participant.event) %></td>
                  <td><%= l participant.created_at, format: :long %></td>
                  <% if !participant.event.guest_allowed? && Member.find_by(user_id: participant.user_id, group_id: participant.group_id, pending: true) %>
                    <td colspan="2"><%= t('.member_first') %></td>
                  <% else %>
                    <td><%= link_to t('helpers.request.accept'), organizing_participant_path(participant.id), method: :patch %></td>
                    <td><%= link_to t('helpers.request.deny'), deny_organizing_participant_path(participant.id), method: :delete, data: { confirm: t('helpers.confirm.delete') } %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          <% end %>
        <% else %>
          <p><%= t('.no_request') %></p>
        <% end %>
      </div>

      <div class="col-md-12 main-container organizing-group-container">
        <h3 class="mb-4"><%= t('.group_event_title') %></h3>
        <p><%= link_to t('helpers.btn.new_group'), new_group_path, class: "btn btn-primary new-group-btn" %></p>

        <% @groups.each do |group| %>
          <div class="border-dashed"></div>
          <h3><%= link_to group.name, group_path(group) %></h3>
          <p>
            <%= t('helpers.status.base') %>:
            <% if current_user == group.owner %>
              <span class="status-owner"><%= t('helpers.status.owner') %></span>
              <%= link_to t('helpers.btn.edit'), edit_organizing_group_path(group) %> |
              <%= link_to t('helpers.btn.delete'), organizing_group_path(group), method: :delete, data: { confirm: t('helpers.confirm.delete') } %>
            <% else %>
              <span class="status-organizer"><%= t('helpers.status.organizer') %></span>
            <% end %>
          </p>
          <p class="mt-4 mb-4">
            <% if current_user == group.owner %>
              <%= link_to t('helpers.btn.members'), organizing_group_path(group), class:"btn btn-info" %>
            <% end %>
            <%= link_to t('helpers.btn.new_event'), new_organizing_group_event_path(group_id:group.id), class: "btn btn-warning" %>
          </p>
          <p><%= t('.coming_events') %> | <%= link_to t('.old_events'), old_events_group_path(group) %></p>

          <% coming_events = group.events.where('schedule >= ?', Time.zone.now).order(schedule: "ASC") %>
          <% if coming_events.present? %>
            <table class="table table-sm table-hover">
              <tr>
                <th><%= t('activerecord.attributes.event.name') %></th>
                <th><%= t('activerecord.attributes.event.schedule') %></th>
                <th></th>
              </tr>
              <% coming_events.each do |event| %>
                <tr>
                  <td><%= link_to "#{event.name}", event_path(event) %></td>
                  <td><%= l event.schedule, format: :long %></td>
                  <td>
                    <%= link_to t('helpers.btn.edit'), edit_organizing_group_event_path(id: event.id, group_id: group.id) %> |
                    <%= link_to t('helpers.btn.delete'), organizing_group_event_path(id: event.id, group_id: group.id), method: :delete, data: { confirm: t('helpers.confirm.delete') } %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% else %>
            <p><%= t('.no_coming_events') %></p>
          <% end %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
