<!DOCTYPE html>
<html>
  <head>
    <title>CulturalExchangeClubs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #90ffb5;">

      <div class="container">
        <a class="navbar-brand font-weight-bold font-italic cursive" id="header-brand" href="/events">Cultural Exchange Clubs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item font-weight-bold">
              <%= link_to t('.events'), events_path, class: "nav-link" %>
            </li>

          <% if user_signed_in? %>
            <% if current_user.organizers.present? %>
              <li class="nav-item font-weight-bold">
                <%= link_to t('.organizing'), organizing_path, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item font-weight-bold">
                <%= link_to t('.new_group'), new_group_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item font-weight-bold">
              <%= link_to "#{current_user.name}", "/profile/#{current_user.id}", class: "nav-link" %>
            </li>
            <li class="nav-item font-weight-bold">
              <%= link_to t('.logout'), logout_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item font-weight-bold">
              <%= link_to t('.signup'), signup_path, class: "nav-link" %>
            </li>
            <li class="nav-item font-weight-bold">
              <%= link_to t('.login'), login_path, class: "nav-link" %>
            </li>
          <% end %>

          </ul>
        </div>
      </div>
    </nav>

    <div class="alert-space">
      <% if notice || alert %>
        <div class="alert-wrapper mt-2 mb-2">
          <div class="container">
            <% if notice %>
              <p class="notice text-center">Notice! <%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert text-center">Alert! <%= alert %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
